<h1>Welcome to Snowboard Quiver</h1>
<p>
  Snowboard Quiver is a place for you to store your snowboard quiver.
</p>
<p>
  Quivers can be ordered by any category you like
</p>
<p>
  <form action="/login" method="post">
    <p>
      <% if flash.has?(:login_error) %>
      <p>
        <%= flash[:login_error] %>
      </p>
      <% end %>
      <label for="email">Email:</label>
      <input type="text" name="user[email]" required autofocus>
    </p>

    <p>
      <label for="password">Password:</label>
      <input type="password" name="user[password]" required>
    </p>

    <input type="submit" name="Submit" value="Submit">
  </form>
</p>


<p>
  or
</p>
<a href="/signup">Sign Up!</a>
